<app-header></app-header>
<div class="container h-100 box">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="email" formControlName="email" id="email" class="form-control input-sm" placeholder="Email Address">
            
          </div>
          <p class="text-danger" *ngIf="submitted || myReactiveForm.get('email')?.errors?.required && myReactiveForm.get('email')?.touched">Email is required</p>
            <p class="text-danger" *ngIf="myReactiveForm.get('email')?.errors?.email && myReactiveForm.get('email')?.touched">Please Enter correct Email Address</p>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" formControlName="password" name="password" class="form-control input_pass" value="" placeholder="password">
          </div>
          <span class="text-danger" *ngIf="submitted || myReactiveForm.get('password')?.touched && myReactiveForm.get('password')?.errors?.required">
            Password is required
          </span>
          <span class="text-danger" *ngIf="myReactiveForm.get('password')?.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number
          </span>
            <div class="d-flex justify-content-center mt-3 login_container">
         <button type="submit" name="button" class="btn login_btn">Login</button>
         </div>
        </form>
      </div>
  
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a href="#" routerLink="/signup" class="ml-2">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>